<!DOCTYPE html>
<html>
<head><title>Check In page</title></head>
<body>
<!--<button onclick="load();">Load database</button>-->
<h1><a href="/">Not Dead Yet</a></h1>
<h2>But time to check in... <%= current_email_incoming %> </h2>
<h3>Your last check in was... <%= last_check_in %> </h3>
<form id="purchase-stuff-form" method="post" action="/notify">
<input type="hidden" />
<p><label for="current_email">Current Email:</label><input type="text" id="current_email" size="20" name="current_email" placeholder="<%= current_email_incoming %> "></p>
<p><label for="let_know_list">Let-Know-List:</label><input type="text" id="let_know_list"
    size="10" name="let_know_list" /></p>
<p><label for="message_nfotify">Message:</label><input type="text"
    id="message_notify" size="20" data-stripe='number'
    name="message_notify" /></p>
<p><input type="submit" id="checkin" name="Check-in" value="Check-in"></p>
</form>
<script type="text/javascript">
function elt(id)
{
    return document.getElementById(id);
}
elt('check-in').onclick = function(event) {
    var mysql = require('mysql');
        var connection = mysql.createConnection( {
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'notdeadyet'
});

        connection.connect();

        var queryString = 'SELECT * FROM USER';
        connection.query(queryString, function(err, rows, fields) {
            if (err) throw err;

            for (var i in rows) {
                 console.log('Check-in page ID database connection ID: ', rows[i].ID);
                 console.log('Last check in database check-in connection: ', rows[i].LAST_CHECK_IN );
            }

        connection.end();
}

    function loadData() {
        var mysql = require('mysql');
        var connection = mysql.createConnection( {
        host: '127.0.0.1',
        user: 'root',
        password: '',
        database: 'notdeadyet'
});

        connection.connect();

        var queryString = 'SELECT * FROM USER';
        connection.query(queryString, function(err, rows, fields) {
            if (err) throw err;

            for (var i in rows) {
                 console.log('Check-in page ID database connection ID: ', rows[i].ID);
                 console.log('Last check in database check-in connection: ', rows[i].LAST_CHECK_IN );
            }

        connection.end();
    }


</script>
</body>
</html>
